[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
graphene-django = "*"
bpython = "*"
django-heroku = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
whitenoise = "*"
raven = "*"
dj-database-url = "*"
django-cors-headers = "*"

[dev-packages]
django-extensions = "*"
django-debug-toolbar = "*"
coverage = "*"
coveralls = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
